table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
}
table td {white-space: nowrap;}

input {
    width: 5em;
    border: none;
    text-align: center;

}
#desc {
    width: 20em;
}