<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 pt-0 h1 text-muted"><img src="..\..\assets\img\paint-brush.svg" height="45px" class="mr-3">Brush Editor</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse show navbar-collapse mr-3 mt-2" id="navbarNav">
        <ul class="navbar-nav ml-auto">
    
        <!-- File upload/download setting large screen-->
        <li class="nav-item d-none d-lg-block ml-2" > 
            <div>
                <a class="nav-link d-inline-block pt-0 pb-0" href="#" *ngIf="brushes.length>0" mat-raised-button matTooltip="Export file to robot" matTooltipShowDelay="1000"> <!-- Hidden when no brushfile is choosed -->
                    <i class="fas fa-file-download fa-2x navbar-icons"></i>
                </a>
                <a class="nav-link d-inline-block pt-0 pb-0" href="#" (click)="openFileChooser()" mat-raised-button matTooltip="Choose file from the robot to display" matTooltipShowDelay="1000">
                    <i class="fas fa-file-upload fa-2x navbar-icons"></i>
                </a>
            </div>
            <div class="text-center mt-1">
                <p class="h6 text-muted">Robot</p>
            </div>
        </li>

        <li class="nav-item d-none d-lg-block ml-2" >
            <div>
                <a class="nav-link d-inline-block pt-0 pb-0" href="#" (click)="saveFileAs()" *ngIf="brushes.length>0" mat-raised-button matTooltip="Export file to your device" matTooltipShowDelay="1000"> <!-- Hidden when no brushfile is choosed -->
                    <i class="fas fa-file-download fa-2x navbar-icons"></i>
                </a>
                <a class="nav-link d-inline-block pt-0 pb-0" href="#" mat-raised-button matTooltip="Choose local file to display" matTooltipShowDelay="1000">
                    <div class="fileupload">
                        <input type="file" id="theFile" aria-describedby="fileUpload" (change)="fileChanged($event)">
                    </div>
                    <label for="theFile" class="chooseFileLabel">
                        <i class="fas fa-file-upload fa-2x navbar-icons"></i>
                    </label>
                </a>
            </div>
            <div class="text-center mt-1">
                <p class="h6 text-muted">Local</p>
            </div>  
        </li>

        <!-- File upload/download setting small screen-->
        <li class="nav-item d-lg-none" *ngIf="brushes.length>0" mat-raised-button matTooltip="Export file to robot" matTooltipShowDelay="1000" matTooltipPosition="right"> <!--  Hidden when no brushfile is choosed -->
            <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">
                <span >Robot: Export file</span> <!-- Text only when navbar is collapsed -->
            </a>
        </li>
        <li class="nav-item d-lg-none" (click)=" openFileChooser()" mat-raised-button matTooltip="Choose file from the robot to display" matTooltipShowDelay="1000" matTooltipPosition="right">
            <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">
                <span *ngIf="brushes.length<=0">Robot: Choose file</span> <!-- Text only when navbar is collapsed -->
                <span *ngIf="brushes.length>0">Robot: Choose new file</span>
            </a>
        </li>
        <li class="nav-item d-lg-none" *ngIf="brushes.length>0"  mat-raised-button matTooltip="Export file to your device" matTooltipShowDelay="1000" matTooltipPosition="right"> <!--  Hidden when no brushfile is choosed -->
            <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="saveFileAs()">
            <span class="d-lg-none">Local: Export file</span> <!-- Text only when navbar is collapsed -->
            </a>
        </li>
        <li class="nav-item d-lg-none" mat-raised-button matTooltip="Choose local file to display" matTooltipShowDelay="1000" matTooltipPosition="right">
            <a class="nav-link d-inline-block pt-0 pb-0" href="#">
                <div class="fileupload">
                    <input type="file" id="theFile" aria-describedby="fileUpload" (change)="fileChanged($event)">
                </div>
                <label for="theFile" class="chooseFileLabel pt-1 pb-1">
                    <span *ngIf="brushes.length<=0">Local: Choose file</span> <!-- Text only when navbar is collapsed -->
                    <span *ngIf="brushes.length>0">Local: Choose new file</span>
                </label>
            </a>
        </li>
    
        <!-- Divider for collapsed navbar -->
        <li class="dropdown-divider d-lg-none pb-0 pt-0 mb-0" *ngIf="brushes.length>0"></li>

        <!-- File info -->
        <li class="nav-item text-muted" *ngIf="brushes.length>0">
            <a class="nav-link d-lg-none" href="#" mat-raised-button matTooltip="Show/hide file information" matTooltipShowDelay="1000" matTooltipPosition="right">
                <span (click)="toggleFileInfo()" data-toggle="collapse" data-target=".navbar-collapse.show">File info</span> <!-- Navbar collapsed: Text only --> 
            </a>
            <a class="nav-link pt-0 pb-0 ml-2 d-none d-lg-block" href="#" mat-raised-button matTooltip="Show/hide file information" matTooltipShowDelay="1000"> <!-- Navbar expandes: Icon and text --> 
                <i class="fas fa-info-circle fa-2x navbar-icons text-center d-block" (click)="toggleFileInfo()"></i> 
            </a>
            <span class="h6 text-muted mt-1 mb-0 d-none d-lg-block">File info</span>
        </li>
    
        <!-- Divider for collapsed navbar -->
        <li class="dropdown-divider d-lg-none pb-0 pt-0 mb-0 mt-0" *ngIf="brushes.length>0"></li>
    
        <!-- Settings -->
        <li class="nav-item text-muted" *ngIf="brushes.length>0">
            <a class="nav-link d-lg-none" href="#" mat-raised-button matTooltip="Show/hide file information" matTooltipShowDelay="1000" matTooltipPosition="right">  <!-- Navbar collapsed: Text only --> 
                <span (click)="toggleSettings()" data-toggle="collapse" data-target=".navbar-collapse.show">Settings</span>
            </a>
            <a class="nav-link pt-0 pb-0 ml-2 d-none d-lg-block" href="#"  mat-raised-button matTooltip="Show/hide brush editor settings menu" matTooltipShowDelay="1000"> <!-- Navbar expandes: Icon and text --> 
                <i class="fas fa-cog fa-2x navbar-icons text-center d-block" (click)="toggleSettings()"></i>
            </a>
            <span class="h6 text-muted mt-1 mb-0 d-none d-lg-block">Settings</span>
        </li>
        </ul>
    </div>
</nav>
<div class="ml-2">
    <h1>API-testing</h1>
    <button type="button" id="http-request" class="btn btn-primary" (click)="httpRequestNoDigest()">
        Make request (npm)
    </button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="httpRequestWithDigest()">
        Make request with Digest
    </button>
</div>

<h1>DigestAuthRequest.js test</h1>
<p id="result">Requesting...</p>
<p id="data"></p>
