<div class="alert alert-secondary fade show mb-1 mt-1" role="alert" *ngIf="showSettings">
    <button type="button" class="close mb-3" aria-label="Close" (click)="toggleSettings()"
        mat-raised-button matTooltip="Close settings" matTooltipShowDelay="1000">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="mb-1 mr-1 d-md-inline-block d-block">
        <form>
            <div class="form-group">
                <label for="maxChannelvalue">Max channel value</label>
                <input type="number" class="form-control" id="maxChannelvalue" aria-describedby="maxChannelValue" placeholder=0 value="{{maxChannelValue}}" max="10000" min="1">
            </div>
            <button type="button" class="btn btn-primary" (click)="updateSettings()" 
                mat-raised-button matTooltip="Update brush editor settings" matTooltipShowDelay="1000">
                Update settings
            </button>
            <button type="button" class="btn btn-secondary ml-1" (click)="resetSettings()"
                mat-raised-button matTooltip="Reset all settings to default (channel names, max channel value etc... )" matTooltipShowDelay="1000">
                Reset all
            </button>
        </form>
    </div>

    <!-- Brush table settings. Uncomment and add logic to implement
    <div class="dropdown mb-1 mr-1 d-md-inline-block d-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            Brush Device
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">A1Brush</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">A2Brush</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">A3Brush</a>
        </div>
    </div> 

    <div class="dropdown mb-1 mr-1 d-md-inline-block d-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            Brush Table
            </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Table1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Table2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Table3</a>
        </div>
    </div> 

    <div class="dropdown mb-1 mr-1 d-md-inline-block d-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            Material
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Material1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Material2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Material3</a>
        </div>
    </div>
    -->
</div>