table, th, td {
    border: 1px groove lightblue;
    border-collapse: collapse;
}

th, td {
    padding: 0.05em;
    background-color: transparent;
}

input {
    border: none;
}

table td {
    white-space: nowrap;
}
#desc {
    width: 20em;
}
#file-uploader, #table-container {
    margin-top: 10px;
}

textarea:focus, input:focus{
    outline: none;
}