table, th, td {
    border: 1.5px groove lightblue;
    border-collapse: collapse;
}

th, td {
    padding: 0.05em;
    background-color: transparent;
}

input {
    border: none;
}

table input {
    width: 100%;
}

table td {
    white-space: nowrap;
}


textarea:focus, input:focus{
    outline: none;
}


#file-uploader, #table {
    margin-top: 10px;
}

#charts {
    width: 40%;
    display: block;
}

label {
    font-weight: bold;
}


