<div class="alert alert-primary fade show rounded-0 mt-0 mb-0" role="alert">
    <button
        type="button"
        class="close mb-3"
        aria-label="Close"
        (click)="toggleFileInfo()"
        mat-raised-button
        matTooltip="Close file information"
        matTooltipShowDelay="1000"
        matTooltipClass="primary-tooltip"
    >
        <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf="inputError" class="custom-tooltip alert alert-danger">
        File name need to have .bt as extension to be valid.
    </div>
    <h5>File information</h5>
    <form>
        <div class="form-group">
            <label for="fileNameInput">Name</label>
            <input
                type="text"
                id="fileNameInput"
                class="form-control rounded-0"
                value="{{ fileName }}"
            />
            <small id="fileNameHelp" class="form-text text-muted"
                >Filename need to have .bt as extension to be valid.</small
            >
            <label for="fileCommentInput" class="mt-3">Comment</label>
            <input
                type="text"
                id="fileCommentInput"
                class="form-control rounded-0"
                value="{{ fileComment }}"
            />
        </div>
        <input
            type="button"
            class="btn btn-primary rounded-0"
            (click)="saveFileInfo()"
            value="Update file info"
        />
    </form>
</div>
