<div class="alert alert-secondary fade show" role="alert" *ngIf="showFileInfo"> <!-- alert-dismissible class may be needed -->
  <button type="button" class="close mb-3" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  
  <div class="input-group mb-2">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Filename</span>
      </div>
      <input type="text" class="form-control"  value="{{fileName}}">
  </div>
  <div class="input-group mb-2">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Filecomment</span>
      </div>
      <textarea class="form-control">{{fileComment}}</textarea>
  </div>
  <button type="button" class="btn btn-primary" (click)="saveFileInfo()">
      Save file info
  </button>
</div>