/* You can add global styles to this file, and also import other style files */
h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
.jumbotron {
    background-color: #659DBD;
}
body {
    margin-left: 0%;
}